@use 'scss/colors';
@use 'scss/z-indexes';
@use 'scss/_variables';

.library-actions {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: z-indexes.$z-table-row-buttons;
  width: 400px;
  display: flex;
  justify-content: end;

  .library-actions-buttons {
    width: 60px;
    font-size: 24px;
    padding-top: 3px;

    .library-actions-buttons__button {
      cursor: pointer;
      margin-right: 5px;
      color: colors.$kobo-gray-40;

      &:hover {
        color: colors.$kobo-blue;
      }
    }

    &.library-actions-buttons--display-all-tags {
      .library-actions-buttons__button--all-tags-toggle {
        color: colors.$kobo-blue;
      }
    }
  }

  .library-type-filter {
    width: 250px;
    margin-left: 20px;

    .kobo-select {
      display: inline-block;
      min-width: 150px;
    }

  }
}

.assets-table-row__link {
  z-index: 0 !important;
}

.breadcrumbs {
  &.breadcrumbs--gray-wrapper {
    padding: 10px !important;
    height: #{(variables.$s-breadcrumbs-height - 10px)} !important;
  }


}
